* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    height: 20px;
    width: 80%;
    border: 3px whitesmoke;
    margin-left: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
#logo {
    margin-top: -22px;
}
.navbar a {
    text-align: center;
    align-items: center;
    margin-top: 11px;
}
#one {
    height: 20px;
    width: 150px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    background-color: #9B27AF;
    margin-top: 3px;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    padding-bottom: -3px;
}

#two {
    height: 20px;
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    background-color: #4d46d0;
    margin-top: 3px;
    margin-right: 80px;
    align-items: center;
    text-align: center;
    padding-bottom: -3px;
}
.faq{
    margin-top: 20px;
    background-color: #9B27AF;
    background-image: url(article-banner-bg.f9846a72.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-position: center;
}
.faq img{
    height: 300px;
    width: 100%;
    margin-top: 80px;
}
.faq h1{
    color: #3E4957;
    font-size: 40px;
    margin-top: 100px;
    margin-left: 50px;
    font-family: Arial;
    text-align: left;
}
.faq p{
    color: #525f6f;
    font-size: 20px;
    margin-left: 50px;
    font-family: Arial;
}
.faqmain{
    padding-top: 50px;
    background-color: whitesmoke;
}
.faqmain h1{
    color: #3E4957;
    font-size: 40px;
    text-align: center;
    font-family: Arial;
}  

h1{
    text-align: center;
}
.accordin{
    width: 70%;
    margin:0 auto;
}

.accordin-item
{
    margin: 10px 0;
}

.accordin-title{
    font-size: 25px;
    color: white;
    background-color: rgb(53, 56, 55);
    cursor: pointer;
    padding: 8px 0;
}
.accordin-content
{
    background-color: white;
    display: none;
}

.accordin-item.active .accordin-content
{
    display: block;
}

.footer{
    height: 400px;
    width: 73.5.1%;
    background-color: #3E4957;
    display: flex;
    justify-content: space-evenly;
    border: 3px  whitesmoke;
    padding-left: 200px;
    padding-right: 200px;
}
#footer1{
    height: 300px;
    width: 1100px;
    margin-top: 55px;
    border: 3px  whitesmoke;
}
#footer1 p{
    text-align: left;
    margin-left: 30px;
    color:  #8b929a;
    font-family: Arial;
    font-size: 18px;
}
#footer2{
    height: 300px;
    width: 1225px;
    margin-top: 55px;
    border: 3px  whitesmoke;
}
#footer2 h3{
    color: white;
    justify-content: center;
    text-align: left;
}
#footer2 p{
    text-align: left;
    color:  #8b929a;
    font-family: Arial;
}
#footer2 input{
    height: 40px;
    width: 350px;
    font-size: 18px;
    padding: 5px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
#footer2 a{
    background-color: white;
    color: black;
    font-family: Arial;
    font-style: bold;
    width: 170px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
}
#footer2 button:hover{
    cursor: pointer;
}
.footercopy{
    height: 25px;
    width: 99.7%;
    border: 3px  black;
    color: #3E4957;
    text-align: center;
    font-size: 18px;
}



