*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.navbar{
    height: 40px;
    width: 80%;
    border: 3px  whitesmoke;
    margin-left: 150px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
#logo{
    margin-top: -22px;
}
.navbar a{
    text-align: center;
    align-items: center;
    margin-top: 11px;
}
#one{
    height: 22px;
    width: 150px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    background-color: #9B27AF;
    margin-top: 3px;
    margin-left: 40px;
    align-items: center;
    text-align: center;
    padding-bottom: 3px;
}
#two{
    height: 22px;
    width: 100px;
    padding: 5px;
    border-radius: 7px;
    color: white;
    background-color: #4d46d0;
    margin-top: 3px;
    margin-right: 80px;
    align-items: center;
    text-align: center;
}
#maincontainer{
    height: 60%;
    border: 3px  black;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #ebddf373;       
    
}
#go{
    font-size: 16px;
    font-family: Arial;
    font-style: bold;
    margin-left: 16%;
    text-decoration: none;
    border: 2px solid blueviolet;
    padding: 5px;
    width: 80px;
    text-align: center;
    color: blueviolet;
    border-radius: 5px;
}   
    
#go::before{
    content: '\2190'; /* Unicode for left arrow */
    margin-right: 1px; /* Space between arrow and text */
    font-size: 16px;
    font-family: Arial;
    font-style: bold;
}
#upper{
    height: 100px;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
    
}
#progressbar{
    border: 2px solid black;
    height: 10px;
    width: 300px;
    border-radius: 10px;
    margin-left: 39.5%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;


}
#progress1{
    height: 10px;
    width: 160px;
    background-color: blueviolet;
    border-radius: 10px;
}
#progress2{
    height: 10px;
    width: 140px;
    border-radius: 10px;
}
#main_box {
    height: 70%;
    width: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px auto;
    gap: 5px 0;
    border-radius: 10px;
    padding: 5px;    
   
}
.box {
    height: 20px;
    width: 70px;
    border: 2px  black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px;
    color: blueviolet;
}
.box:hover{
    cursor: pointer;
    background-color: #9B27AF;
    color: white;
}

#middle{
    height: 500px;
    width: 1225px;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 2px  #3E4957;
    background-color: white ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
.homecontainer{
    height: 300px;
    width: 500px;
    border: 3px  black;
    margin-top: 100px;
    background-color: white ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.home{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.home h2{
    color: black;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.home input{
    height: 40px;
    width: 400px;
    font-size: 18px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 35px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid black;
    color: black;

}
.home button{
    height: 40px;
    width: 300px;
    background-color: white;
    color: black;
    font-family: Arial;
    font-style: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 100px;

}
.home button:hover{
    cursor: pointer;
    background-color: #9B27AF;
}
.home button:active{
    cursor: pointer;
    background-color: #4d46d0;
}
#qrpopup{
    height: 400px;
    width: 400px;
    border: 3px  black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    background-color: white ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
}
#qrpopup img{
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 20px;
}
#qrpopup h3{
    color: white;
    margin-top: 20px;
}   
#qrpopup p{
    color: white;
    margin-top: 20px;
}
#qrpopup button{
    height: 40px;
    width: 150px;
    background-color: white;
    color: black;
    font-family: Arial;
    font-style: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 130px;

    
}
#qrpopup button:hover{
    cursor: pointer;
    background-color: #4d46d0;
}   























































.footer{
    height: 400px;
    width: 1225;
    background-color: #3E4957;
    display: flex;
    justify-content: space-evenly;
    border: 3px  whitesmoke;
    padding-left: 200px;
    padding-right: 200px;
}
#footer1{
    height: 300px;
    width: 1225px;
    margin-top: 55px;
    border: 3px  whitesmoke;

}
#footer1 p{
    text-align: left;
    margin-left: 30px;
    color:  #8b929a;
    font-family: Arial;
    font-size: 18px;
}
#footer2{
    height: 300px;
    width: 1225px;
    margin-top: 55px;
    border: 3px  whitesmoke;
}
#footer2 h3{
    color: white;
    justify-content: center;
    text-align: left;
}
#footer2 p{
    text-align: left;
    color:  #8b929a;
    font-family: Arial;
}
#footer2 input{
    height: 40px;
    width: 350px;
    font-size: 18px;
    padding: 5px;
    border-radius: 12px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
#footer2 a{
    background-color: white;
    color: black;
    font-family: Arial;
    font-style: bold;
    width: 170px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
}
#footer2 button:hover{
    cursor: pointer;

}
.footercopy{
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    color: #3E4957;

}

